@{
    ViewData["Title"] = "Creditos";
}

<style>
    h1{
        text-align: center;
        margin-bottom: 20px;
    }

    p{
        color: #e9e0d2;
        text-align: center;
        margin-bottom: 20px;
    }
</style>

<h1>Creditos</h1>

<p style="font-size: 1.2rem;">Ramiro Kwon</p>

<div style="display: flex; justify-content: center;">
    <a href='@Url.Action("Index")' class="btn">Volver al inicio</a>
</div>