@{
    ViewData["Title"] = "Inicio";
}

<link rel="stylesheet" href="~/css/indexStyle.css" asp-append-version="true"/>

<div class="prueba">
    <div class="logo-container">
        <img src="~/img/logo.jpg" alt="logo-juego">
        <h1>PreguntadORT</h1>
    </div>

    <a href='@Url.Action("ConfigurarJuego")' class="btn">Configurar Juego</a>

</div>