.carta{
    display: flex;
    flex-direction: column;
    width: 33.3%;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
    margin: 0 1%;
    padding: 0;
    color: #fff;
    transition: 0.8s ease;
}

.carta:hover{
    transform: scale(1.05);
}

.carta p{
    font-size: 1.2rem;
}

.cartas{
    display: flex;
    width: 98%;
    margin: 0 1%;
}

p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.contenedor-boton{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Boton enviar */
.btn-material {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #a79375;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: background-color 0.6s linear,
        box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    font-size: 1rem;
    letter-spacing: 0.06em;
}

.btn-material:hover, .btn-material:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
        0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #ccb797;
}

.btn-material:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    background-color: #c3b5a0;
}

/* Usuario */

.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    max-width: 190px;
    position: relative;
}
  
.inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid #e9e0d2;
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
    color: white;
}
  
.inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: white;
}
  
.inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #e9e0d2;
    border-radius: 15px;
}
  
.inputGroup :is(input:focus, input:valid) {
    border-color: #a79375;
}

/* Dificultad */

.radio-input input {
    display: none;
}
  
.radio-input {
    --container_width: 400px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: #fff;
    color: #212529;
    width: var(--container_width);
    overflow: hidden;
    /* border: 1px solid rgba(53, 52, 52, 0.226); */
}
  
.radio-input label {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 1rem;
}
  
.selection {
    display: none;
    position: absolute;
    height: 100%;
    width: calc(var(--container_width) / 4);
    z-index: 0;
    left: 0;
    top: 0;
    transition: .15s ease;
}
  
.radio-input label:has(input:checked) {
    color: #fff;
}
  
.radio-input label:has(input:checked) ~ .selection {
    background-color: #a79375;
    display: inline-block;
}
  
.radio-input label:nth-child(1):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 0/4));
}
  
.radio-input label:nth-child(2):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 1/4));
}
  
.radio-input label:nth-child(3):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 2/4));
}
  
.radio-input label:nth-child(4):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 3/4));
}

/* Categoria */

select{
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #a79375;
}

select option{
    font-size: 1rem;
    border-radius: 15px;
    background-color: #fff;
    transition: 0.3s;
    padding: 10px 20px;
    color: #a79375;
}

select option:active:hover{
    background-color: #a79375;
}
